version: "3.8"

services:

  db:
    image: mysql:8
    restart: always
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: rafael79   # Sets the root's password
      MYSQL_DATABASE: catalogo        # Creates a initial database
      MYSQL_USER: studentweb          # Will create this user and grant master access to the created database
      MYSQL_PASSWORD: studentweb      # User's password
    ports:
      - "3307:3306"

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
  
  website:
    build: .
    volumes:
      - .:/var/www/html # for development only
    ports:
      - 5000:80
    depends_on:
      - db
    
    